@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora";
  font-size: 0.875rem;
  color: #394150;
}

article {
  width: 336px;
  border-radius: 10px;
  box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
  margin: 164px auto 164px auto;
  padding: 16px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

img {
  border-radius: 10px;
  width: 100%;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tag {
  background-color: #f2eafd;
  color: #7c19ee;
  font-size: 0.625rem;
  font-weight: bold;

  padding: 4px 16px;
  border-radius: 24px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

h1 {
  font-size: 1.125rem;
  color: #20293a;

  margin: 0;
}

p {
  margin: 0;
  line-height: 1.4;
}

footer {
  border-top: solid 1px #e5eaf0;
  margin: 4px -16px 0 -16px;
  padding: 20px 16px 0 16px;

  font-size: 10px;
}

.attribution {
  text-align: center;
}
