@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

body {
    font-family: 'Sora';
    font-size: 0.875rem;
    color: #394150;
}

article {
    border-radius: 10px;
}

img {
    border-radius: 10px;
}